/*内容开始*/
.day{
	    overflow-x: scroll;
}
.mui-content{
    margin-top: .15rem;
    padding: 0 .2rem;
    background: none;
}
.mui-content ul{
  	 display: -webkit-box; 
    display: -moz-box; 
    display:-webkit-flex;
    display: -ms-flexbox;
    display:flex;
	padding: 0;
	margin: 0;
    width: 15rem;
}
.mui-content ul>li{
    flex: 1;
    font-size: .2rem;
    padding: .3rem 0;
    text-align: center;
    color: #646464;
    background-color: #eee;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    font-weight: bold;
}
.mui-content ul>li:nth-child(1){
	flex: 0.7;
}
.mui-content ul>li:last-child{
	border-right:none;
}
.mui-content ul:nth-child(1)>li:nth-child(1){
	    border-top-left-radius: 5px;
}
.mui-content ul:nth-child(1)>li:last-child{
	   	border-top-right-radius: 5px;
}
.mui-content ul:last-child>li:nth-child(1){
	border-bottom-left-radius: 5px;
}
.mui-content ul:last-child>li:last-child{
	border-bottom-right-radius: 5px;
}
.mui-content ul:nth-child(1)>li{
	color: #fff;
}
.li_1{
	background-color: #ed9c5a !important;
}
.li_2{
	background-color: #44cda2 !important;
}
.li_3{
	background-color: #f6bd33 !important;
}
.li_4{
	background-color: #59c4ef !important;
}
.li_5{
	background-color: #ff9a52 !important;
}
.li_6{
	background-color: #6d9de6 !important;
}
.li_7{
	background-color: #5ae4bf !important;
}
.li_8{
	background-color: #6dbde6 !important;
}
.li_9{
    background: rgba(150, 85, 17, 0.52) !Important;
}
.hour{
	    background-color: #646464 !important;
}
.rest{
	text-align: center;
	padding: 8px 0;
    color: #ccc;
	font-size: 16px;
}
.ul select{
    height: auto;
    border: 0!important;
    background-color: #eee;
    font-size: .2rem;
	margin: 0;
	font-weight: 400;
	padding: 0;
}
.ul select option{
text-align:center;
}
#btn {
    position:static; 
     bottom: 0; 
    width: 100%;
    margin: 0;
    padding: 0rem;
    padding-top: .5rem;
}
.showUserPicker,.showDtPicker{
	position: relative;
}
.showUserPicker a,.showDtPicker a{
	color: #646464;
}
.showUserPicker a:after,.showDtPicker a:after{
	font-family: Muiicons;
    font-size: inherit;
    line-height: 1;
    position: absolute;
    top: 50%;
    display: inline-block;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    text-decoration: none;
    color: #bbb;
    -webkit-font-smoothing: antialiased;
    right: .1rem;
     content: '\e581';
	
}
.day{
	display:none
}
#errorMsg{
	font-size: .3rem;
    color: #646464;
    text-align: center;
    display:none;
}
.mui-content ul>li{
	    font-size: .25rem;
}