@CHARSET "UTF-8";

body {
	font-size: 17px;
}

.weui-cells {
	margin-top: 0px;
}

.weui-label {
	color: #808080;
}

.weui-input {
	color: #03A2FE;
}

.mui-content {
	font-size: 17px;
	background-color: #EEEEEE;
	padding-top: 10px;
}

.mui-bar-nav   ~.mui-content {
	padding-top: 44px;
}

.mui-card {
	font-size: 14px;
	position: relative;
	overflow: hidden;
	border-radius: 2px;
	background-color: #fff;
	background-clip: padding-box;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .3);
}

.mui-card-content {
	font-size: 14px;
	position: relative;
}

.mui-card-content-inner {
	position: relative;
	padding: 15px;
	font-size: 16px;
	color: #646464;
	line-height: 29px;
}

p {
	font-size: 15px;
	margin-top: 0;
	margin-bottom: 10px;
	color: #646464;
}

.weui-input[type=text] {
	height: 1.47058824em;
	border: none;
	margin-bottom: 0px;
	padding: 0px;
	margin-bottom: 0px;
	font-family: "微软雅黑";
}

.mui-content>.mui-card:first-child {
	margin-top: 0px;
}

.mui-card {
	margin: 0;
	box-shadow: none;
}

.mui-card-content-inner img {
	width: 100%;
}

#object {
	color: #03A2FE;
	font-size: 16px;
}
