body {
	background-color: #F1F1F1;
}
#content {
   padding: 0;
}
.top {
	padding: .3rem .3rem 0 .3rem;
	background-color: #fff;
	/*box-shadow: 0 1px 2px rgba(0,0,0,.3);*/
}

.top .text {
	background-color: #fff;
}

.top .text textarea {
	display: -webkit-box;
	min-height: 2rem;
	margin-bottom: 0;
	padding: 0;
	font-size: 0.3rem;
	color: #646464;
	border: none;
}

.default {
	padding: .5rem;
	border: 1px solid #ccc;
}

.pic {
	margin-top: .2rem;
	margin-bottom: .1rem;
}



/*自定义checkbox按钮結束*/

.checkbox {
	padding: .2rem 0;
	border-top: 1px solid #ccc;
}
.mui-card{
    margin: .35rem 0;
    box-shadow: none;
}
.mui-badge-purple, .mui-badge-royal{
	    background: none;
    color: #ccc;
}
.mui-card a{
	color: #646464 !important;
}
#picture a,#picture b{
    color: #646464;
    font-size: .3rem;
    font-weight: 400;
}
#picture ul{
	margin: 0;
}
#picture ul:nth-child(1){
	margin-bottom: 8px;
}
.mui-popover.mui-popover-action .mui-table-view .mui-table-view-cell:not(:nth-child(1)):after{
	height: 0;
}
#picture {
	background-color: rgba(255, 255, 255, 0.8);
}
.pic a{
	display: inline-block;
	margin-right: 1px;
}
.pic>img{
	margin-right: 6px;
/* 	    position: absolute;
    clip: rect(0,77px,77px,0); */
}
#btn{
	position: static;
    width: 100%;
    margin: 0;
    padding: 0 .3rem;
    margin-top: 1rem;
	
}
#drop{
	float: right;
    position: relative;
    top: 8px;
    right: 25px;
}
